header {
    background-color: #000000;
    width: 100%;
    padding: 15px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
}

.navbar {
    margin-bottom: 15px;
    font-size: 14px !important;
}

.no-link-style {
    color: #ffffff;
    text-decoration: none;
}

.gift {
    background-color: #dddddd;
    margin-bottom: 15px;
    padding:15px;
}

img#logo {
    width: 45px;
    height: 45px;
}
a.brand {
    margin-top: 10px;
    margin-left: 5px;
}

.slogan {
    margin-top: 10px;
}

img.gift {
    width: 120px;
    height: 120px;
}